# Environment variables for BookStore Infrastructure
# Testing Config
RUN_TESTS=false

# MongoDB Configuration
MONGODB_URI=mongodb+srv://admin1:TeOjuosfnsgoy5dO@cluster0.ngbekxz.mongodb.net/?appName=Cluster0

# For local MongoDB (when using local-db profile)
MONGO_ROOT_USER=admin
MONGO_ROOT_PASS=password123

# Backend Configuration
SECRET_KEY=ldksfjlskdfjsldkfjsdlkfjsdlklsdfjsk
ENVIRONMENT=production

# Port Configuration (change if needed)
BACKEND_PORT=8000
BACKEND_DEV_PORT=8001
MONGODB_PORT=27017
REDIS_PORT=6379
NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=443
